<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find demo_car)/config/control_test.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/demo_car" args="joint_state_controller
					  joint1_wheel_controller
					  joint2_wheel_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/demo_car/joint_states" />
  </node>

</launch>
