<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find demo_control)/config/control_test.yaml" command="load"/>
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find rrbot_description)/urdf/rrbot.xacro'" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/demo_car/joint_states" />
  </node>

</launch>
